<div class="main-wrap-wrapper">
    <div class="header">
        <router-outlet name="page-header"></router-outlet>
    </div>
    <div class="main-wrap">
        <div class="main-inner-wrap" #inner>
            <div class="menu-wrap" #menu [ngClass]="{'sticky': sticky, 'end-sticky': endSticky}" [ngStyle]="{'left': sticky?inner.offsetLeft + 'px':undefined, 'top': endSticky? endStickyY + 'px': undefined}">
                <app-side-menu></app-side-menu>
            </div>
            <div class="router-wrap">
                <router-outlet name="page"></router-outlet>
            </div>
        </div>
    </div>
    <div class="footer">
        <router-outlet name="page-footer"></router-outlet>
    </div>
</div>