<div class="login-wrap">
    <div class="logo-wrap">
        <img class="logo" alt="logo" />
        <div class="name">
            <span>App Name</span>
        </div>
    </div>
    <div class="login-inner">
        <h2>LOGIN</h2>
        <div class="login-inner-wrap">
            <div class="form">
                <div class="item">
                    <mat-form-field>
                        <input matInput placeholder="Username">
                    </mat-form-field>
                </div>
                <div class="item">
                    <mat-form-field>
                        <input type="password" matInput placeholder="Password">
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div class="buttons">
            <button mat-flat-button color="primary">Button</button>
        </div>
    </div>
    <div class="forgot-password">
        <a>Forgon password?</a>
    </div>
</div>